# Py build stuff
*.pyc
*.egg-info/

# Text editor stuff
*.DS_Store
*.kate-swp
*.sw*

# Old, don't know
.idea/

# Toolchain artifacts
.set_version
bin
toolchain/tmp/

# Vendor repos
vendor/src
vendor/depot_tools

# Build artifacts
src/kaleido/LICENSE.txt
src/kaleido/README.md
src/kaleido/CREDITS.html
CREDITS.html


