# Py Build Stuff
*.pyc
*.egg-info/
__pycache__

# Text Editor Stuff
*.DS_Store
*.kate-swp
*.sw*

# Local Environment
.venv

# Artifacts from Build
src/js/build
test-results*

# builds
src/py/tests/renders/*

# avoid ignore .gitkeep
!src/py/tests/renders/.gitkeep
