version: 2.1
jobs:
  build:
    machine:
      - image: ubuntu-1604:201903-01    # recommended linux image - includes Ubuntu 16.04, docker 18.09.3, docker-compose 1.23.1
    resource_class: medium
    steps:
        - checkout
        - run: docker --version
