.quixote-small_note {
  font-family: "Roboto Mono";
  float: right;
  margin-right: 30px;
  letter-spacing: -.01em;
  font-size: .8em;
}

small {
  font-size: smaller;
}

h1 {
  font-weight: 500 !important;
}

h1 .code {
  font-weight: 600 !important;
}

h2 {
  font-weight: 500 !important;
}

h4 {
  font-weight: 550 !important;
  color: var(--md-default-fg-color--light) !important;
}

h5 {
  text-transform: none !important;
  color: black !important;
}

h6 {
}


.long-description {
  border-left: .2em #80808059 solid;
  padding-left: .8em;
  color: #3f3f3f;
}

.individual-class {
  background-color: #ddd;
  border-radius: 1em;
  padding: .6em;
  margin: .8em 0;
}

code {
  border-radius: .2rem !important;
}

.individual-class > * code {
  background-color: #636363;
  color: white;
}

.code, h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
  background-color: transparent !important;
  font-family: mono !important;
}
h1 code {
  font-weight: 600 !important;

}

h2 code {
  color: var(--md-typeset-color) !important;
}

h3 code {
  color: var(--md-typeset-color) !important;
}

h4 code {
  color: var(--md-default-fg-color--light) !important;
}

h5 code {
  color: black !important;
}

h6 code {
  color: var(--md-default-fg-color--light);
}
.individual-class h3 {
  margin-top: .1em;
}

.indent {
  padding-left: .8em;
}

.text {
  font-size: .6rem;
  color: #444;
  font-weight: normal !important;
}
small.text { /* override .text if small */
  font-size: .5rem;
}
.h7 {
  font-weight: 550;
  color: #919191;
}
.key {
  font-size: .65rem !important;
