name: ruff-wf
on: pull_request
jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: chartboost/ruff-action@v1
        with:
          src: './app'
      - uses: chartboost/ruff-action@v1
        with:
          src: './devtools'